---

---

<div
  class="flex justify-between bg-sky-100 p-5 text-xs text-rose-600 drop-shadow-[2px_2px_0px_white]"
  style="font-family: 'Sedgwick Ave', cursive;"
>
  <a href="#"><img class="w-20" src="../img/bog1nb.png" alt="bog" /></a>
  <nav class="">
    <a href="#section1">Københavnerbilleder</a>
    <a href="#section2">Kapitler</a>
    <a href="#section3">Forfatteren</a>
    <a href="#section4">Køb Nu</a>
  </nav>
</div>
